body {
    margin: 20;
    padding: 10;
    border: 15px solid red;
    background-color: lightgray;
}

.dark {
    background-color: blue;
    color: white;
    padding: 20px
    margin: 50px
}

div.one  {
    text-align: justify;
 }

div.two  {
    text-align: justify;
}

div.three  {
    text-align: justify;
}

h1 {
    background-color: red;
    border: 15px solid black;
    font: 60px Algerian, sans-serif;
    padding: 20px; 
    margin: 10px;
}

h2  {
    color: black;
    font-style: italic
}

#main  {
    color: red;
    font-weight: bold
}

p  {
    padding: 20px
    
}


footer {
    text-align: right;
    padding: 6px;
    color: blue;
    font-weight: bold
}

article {
    text-indent: 22px;
    color: red;
    line-height:-1;
}